@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title> OurVets </title>
</head>
<body>
    <div>
        <form asp-action="OurVets" method="get">
            <div class="form-actions no-color">
                <p>
                    Спеціалізація: <input type="text" name="Filter" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Пошук" class="btn btn-default" /> |
                    <a asp-action="OurVets">Прибрати фільтр</a>
                </p>
            </div>
        </form>
        <h3>Ветеринари</h3>
        <table>
            <tr class="header">
                <td> <p> Ім'я </p> </td>
                <td> <p> Спеціалізація </p> </td>
                <td>
                </td>
            </tr>
            @foreach (var b in ViewBag.Vets)
            {
                <tr>
                    <td> <p> @b.VetName </p> </td>
                    <td> <p> @b.Specialization </p> </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>