@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title> AdminPage </title>
</head>
<body>
    <div>
        <h3>Функціонал адміна (база даних)</h3>
    </div>
</body>
</html>