@{
    Layout = "~/Views/Shared/_LayoutVet.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title>ViewDiagnosis</title>
</head>
<body>
    <div>
        <h3>Додавання діагнозу </h3>
        <table>
            <tr>
                <td>
                    @using (Html.BeginForm("AddDiagnosis", "Vet", FormMethod.Post))
                    {
                        <input type="hidden" value="@ViewBag.Patient.AnimalId" name="AnimalId" />
                        <p> Введіть діагноз пацієнта </p>
                        <input type="text" name="Information" />
                        <input type="submit" value="Підтвердити" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("DeleteDiagnosis", "Vet", FormMethod.Post))
                    {
                        <p> Введіть індекс діагноза для видалення </p>
                        <input type="text" name="Id" />
                        <input type="submit" value="Підтвердити" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("UpdateDiagnosis", "Vet", FormMethod.Post))
                    {
                        <p> Введіть індекс діагноза для оновлення </p>
                        <input type="text" name="Id" />
                        <p> Введіть нове значення </p>
                        <input type="text" name="val" />
                        <input type="submit" value="Підтвердити" />
                    }
                </td>
            </tr>
        </table>
        <h2>Діагнози пацієнта @ViewBag.Patient.AnimalName: </h2>
        <table>
            <tr>
                <td> <p> Id </p> </td>
                <td> <p> Інформація </p> </td>
            </tr>
        </table>
        <table>
            @foreach (var b in ViewBag.Diagnoses)
            {
                <tr>
                    <td> <p> @b.DiagnosisId </p> </td>
                    <td> <p> @b.Information </p> </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>